<main class="flex flex-col items-center justify-center min-h-screen gap-8 bg-gradient-to-b from-sky-100 to-sky-300 p-4">
  <h1 class="text-3xl font-bold text-gray-800">Vädret i {{ city }}</h1>

  <input
    [(ngModel)]="city"
    placeholder="Skriv stad"
    class="px-4 py-2 border border-gray-300 rounded shadow-sm text-lg w-64 text-center"
  />

  <div class="flex gap-4 mt-4">
    <button
      (click)="fetchTemperature()"
      class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded shadow text-lg font-semibold transition"
    >
      Hämta Temperatur
    </button>

    <button
      (click)="downloadCSV()"
      [disabled]="temperature === null"
      class="bg-green-600 hover:bg-green-700 text-white px-6 py-3 rounded shadow text-lg font-semibold transition disabled:opacity-50"
    >
      Ladda ner CSV
    </button>
  </div>

  <div class="mt-6 text-xl text-gray-700" *ngIf="temperature !== null">
    Aktuell temperatur i <strong>{{ city }}</strong>: <strong>{{ temperature }} °C</strong>
  </div>

  <button
    class=" btn btn-secondary"
    (click)="fetchWeatherByLocation()"
    >
    GET TEMPERATURE BY LOCATION
  </button>
</main>

